<div class="column">
    <h2 class="title pb-4">create new account:</h2><hr>
    <form class="signup-form">
 <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
</div>
    <div>
        <label for="signup-mail">email:</label>
        <input type="text" id="signup-mail" />
</div>
    <div>
            </div>
        <div>
        <label for="signup-pass">password:</label>
        <input type="password" id="signup-pass" />
      </div>
      <div>
        <button type="submit" class="signUP">signup</button>
      </div>
    </form>
 </div>